RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_URI} !offline.html
RewriteRule .* http://www.example.isc/index.html [R=307,L]
RewriteRule .* http://isc-host.github.io/example.isc/index.html [R=307,L]
